// margin bottom
.u-margin-bottom-xx-small {margin-bottom: .7rem;}
.u-margin-bottom-extra-small {margin-bottom: 1rem;}
.u-margin-bottom-small {margin-bottom: 1.5rem;}
.u-margin-bottom-medium {margin-bottom: 4rem;}
.u-margin-bottom-big {margin-bottom: 8rem;}

// center component
.u-margin-center {margin-left: 50%; transform: translate(-50%, 0);}